<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rabbit_house_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rabbit_House_2">
        <activity android:name=".EditHoaDon"></activity>
        <activity android:name=".InsertHoaDon" />
        <activity android:name=".mhHoaDong" />
        <activity android:name=".EditMon" />
        <activity android:name=".InsertMon" />
        <activity android:name=".mhMon" />
        <activity android:name=".EditKhachHang" />
        <activity android:name=".InsertKhachHang" />
        <activity android:name=".mhKhachHang" />
        <activity android:name=".mhForgotPass" />
        <activity android:name=".mhLogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>